services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  # Controllers
  PixelCoda\PixelcodaSearch\Controller\:
    resource: '../Classes/Controller/*'
    public: true

  # Services
  PixelCoda\PixelcodaSearch\Service\:
    resource: '../Classes/Service/*'

  # Headless Serializers - explicit registration for pixelcodasearch_search
  PixelCoda\PixelcodaSearch\Serializer\PixelcodaSearchSerializer:
    tags:
      - name: 'headless.serializer'
        identifier: 'pixelcodasearch_search'
        
  # Data Processing
  PixelCoda\PixelcodaSearch\DataProcessing\:
    resource: '../Classes/DataProcessing/*'

  # CLI Commands
  PixelCoda\PixelcodaSearch\Command\IndexCommand:
    tags:
      - name: 'console.command'
        command: 'pixelcoda:search:index'
        description: 'Index content to pixelcoda Search'

  PixelCoda\PixelcodaSearch\Command\ReindexCommand:
    tags:
      - name: 'console.command'
        command: 'pixelcoda:search:reindex'
        description: 'Re-index all content to pixelcoda Search'
