{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'IP');
        data.addColumn('string', 'URI');
        data.addColumn('string', 'Agent');
        data.addColumn('string', 'Datetime');
        data.addRows([
{% for n in dataset %}
   ['{{ n.ip }}', '{{ n.uri }}', '{{ n.agent }}', '{{ n.in_time }}'],
{% endfor %}
          ['','','','']
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>
<p>Got these rows from the database:</p>
<div id="table_div"></div>

{% endblock %}
