{% extends "layout.html" %}

{% block content %}
<section class="owl-jumbotron jumbotron jumbotron-fluid">
	<div class="bg-overlay">
		<div class="container">
			<h1 class="display-4">Owls are birds</h1>
			<p class="lead">
				Not all birds are owls.
			</p>
		</div>
	</div>
</section>

<section class="bg-light">
	<div class="container">
		<h2>Fun Fact</h2>
		<p>A group of owls are called a parliament.</p>
	</div>
</section>
{% endblock %}
