{% extends "layout.html" %}

{% block content %}
<section class="owl-jumbotron jumbotron jumbotron-fluid">
	<div class="bg-overlay">
		<div class="container">
			<h1 class="display-4">Owls are birds</h1>
			<p class="lead">
				Not all birds are owls.
			</p>
			<a target="_blank" class="btn btn-dark" href="https://en.wikipedia.org/wiki/Owl">
				Learn More
			</a>
		</div>
	</div>
</section>

<section class="bg-light">
	<div class="container">
		<h2>Fun Fact</h2>
		<p>A group of owls is called a parliament.</p>
	</div>
</section>

<section>
	<div class="container">
		<h2>Bird of Prey</h2>
		<p>
			Owls are nocturnal birds of prey. Owls mostly feed on invertebrates like
			spiders, worms, and other insects. Many species also feed on rodents and fish.
			They can swallow rodents whole, gross. Owls are known to surplus hunt, therefore,
			creating a cache of food. Prey are carried in the owl's strong talons.
		</p>
		<p>
		</p>
	</div>
</section>

<section>
	<div class="container">
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th scope="col">Picture</th>
					<th scope="col">Species</th>
					<th scope="col">Location</th>
					<th scope="col">Hoots</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<img src="https://cascadesraptorcenter.org/assets/uploads/Bodhi.jpg" alt="Barred Owl" />
					</td>
					<td>Barred Owl</td>
					<td>North America</td>
					<td><i class="fas fa-check"></i></td>
				</tr>
				<tr>
					<td>
						<img src="https://cascadesraptorcenter.org/assets/uploads/BrnOwl_thumb.jpg" alt="Barn Owl" />
					</td>
					<td>Barn Owl</td>
					<td>Every Continent except Antarctica</td>
					<td><i class="fas fa-times"></i></span></td>
				</tr>
				<tr>
					<td>
						<img src="https://cascadesraptorcenter.org/assets/uploads/BUOW-thumb.jpg" alt="Burrowing Owl" />
					</td>
					<td>Burrowing Owl</td>
					<td>Southwest USA and Mexico</td>
					<td><i class="fas fa-times"></i></td>
				</tr>
				<tr>
					<td>
						<img src="https://cascadesraptorcenter.org/assets/uploads/GHOW_thumb.jpg" alt="Great Horned Owl" />
					</td>
					<td>Great Horned Owl</td>
					<td>North America</td>
					<td><i class="fas fa-check"></i></td>
				</tr>
				<tr>
					<td>
						<img src="https://cascadesraptorcenter.org/assets/uploads/WESO_thumb.jpg" alt="Screech Owl" />
					</td>
					<td>Screech Owl</td>
					<td>North America</td>
					<td><i class="fas fa-times"></i></td>
				</tr>
				<tr>
					<td>
						<img src="http://nyfalls.com/dev/wp-content/uploads/2013/01/Northern-Saw-Whet-Owl.jpg" alt="Elf Owl" />
					</td>
					<td>Elf Owl</td>
					<td>Southwest USA and Mexico</td>
					<td><i class="fas fa-check"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
{% endblock %}
